@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

:root {
  --nulledBackground:#181819;
  --nulledCard:#19191a;
  --nulledPrimary:#ad30cf;
  --nulledSecondary:rgba(255, 255, 255, 0.125);
  --nulledDark:#121213;
  --nulledBorder:#303030;
  --nulledDanger:#cf2d2d;
  --nulledWarning:#ffee58;
}

.postbit_background_container > .postbit_background.uid4865::before {
  box-shadow: inset 0 -48px 48px -20px #282828, inset 0 26px 10px -20px crimson, inset -26px 0 10px -20px crimson, inset 26px 0 10px -20px crimson;
}

.author_avatar > a {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto;

  > img {
    width: 100%;
    height: 100%;
  }
}

.profile-wrapper {
  height: 400px;

  .coverbar {
    position: absolute;
    padding-left: 200px;

    .avatar {
      max-height: 280px;
      height: auto;
    }

    > .table-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      > .table-cell-mid {
        &:first-child {
          width: 100%;
          margin-bottom: 16px;
        }

        &:nth-child(2) {
          border: 0;
          margin-left: -24px;
        }

        &:not(:first-child) {
          border-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.profile-cover {
  background-position: center center;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  background-origin: initial !important;
  background-attachment: initial !important;
}

.profile-wrapper {
  background-position: center center;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  background-origin: initial !important;
  background-attachment: initial !important;

  .profile-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
  }

  .coverbar .avatar {
    > img {
      height: 100%;
      width: 100%;
    }

    padding: 0;
    top: 0;
    left: 0;
    bottom: unset;
    right: 0;
    margin: -54px 0 0 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    width: 168px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  }

  .profile-cover {
    height: 300px;
  }
}

.postbit_background_container > .postbit_background.uid4865::before {
  box-shadow: inset 0 -48px 48px -20px #282828, inset 0 26px 10px -20px crimson, inset -26px 0 10px -20px crimson, inset 26px 0 10px -20px crimson;
}

.mobile-hide {
  display: unset !important;
}

.postbit-mobile-usertitle {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: pre;
  margin-right: 10px;
}

.postbit-mobile-avatar .author_avatar {
  margin-right: 8px;

  > a {
    height: 100%;
    width: 100%;
  }
}

.tabs {
  &.mobile-hide {
    margin: 0;
    display: flex !important;
    flex-direction: row;
    height: 48px;
    align-items: center;
  }

  > .tab {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
  }
}

.author_avatar > a {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto;

  > img {
    width: 100%;
    height: 100%;
  }
}

.profile-wrapper .coverbar .avatar {
  max-height: 280px;
  height: auto;

  > img {
    height: 100%;
    width: 100%;
  }
}

.topmenu li i, .colored, .subforum_minion, .footer-title, a:hover, .forms .checkbox input + i:after, legend, .footer-link a:hover i {
  color: var(--nulledPrimary) !important;
}

.thread_status {
  &.dot_newfolder:before, &.dot_newhotfolder:before, &.newfolder:before, &.newhotfolder:before, &.newlockfolder:before, &.newclosefolder:before {
    color: var(--nulledPrimary) !important;
  }
}

.ficons_on {
  color: var(--nulledPrimary) !important;
}

.forum-head, .modal-head, .selected, .head-mobile, .tabs-button, .active, .pages-link:hover, button:hover, input.button:hover, .button:hover, .forms .toggle i:before, .color-box, .tab:hover, .bottom-menu, .showthread-container, .index-button:hover, .threadlist-button-m, .thread-unread:hover, .prefooter, .postbit-button:hover {
  background: var(--nulledPrimary) !important;
}

.sceditor-button {
  &:hover, &:active, &.active {
    background: var(--nulledPrimary) !important;
  }
}

.upgrade-button:hover, .loading, .notifications-count-m, .backtotop, .messages-start:hover, .ucpnavm-head {
  background: var(--nulledPrimary) !important;
}

ul.pages li a:hover {
  background: var(--nulledPrimary) !important;

  &:not(.active) {
    background: var(--nulledPrimary) !important;
  }
}

.marketplace-balance-button:hover, .staffpage-button:hover, .credits-rewards-col1 .rewards-icon, .mobile-header, .forums-header, .premium-button, .premium-icon i, .forms .radio input + i:after, .inbox-count {
  background: var(--nulledPrimary) !important;
}

.tab:hover, .selected, .copyright {
  border-color: var(--nulledPrimary) !important;
}

.tabs > .tab {
  background: var(--nulledBackground) !important;
  border-width: 0;
  border-radius: 0 !important;
  position: relative;

  &:hover:before, &.selected:before {}
}

.profile-wrapper .tools .cover-button:before, .tabs > .tab:before {
  content: '';
  bottom: 0;
  height: 2px;
  width: 33%;
  opacity: 0;
  min-width: 33%;
  max-width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  transition: all .2s ease;
  transition-property: width, opacity, background, box-shadow;
  box-shadow: 0 -2px 8px 1px #fff;
}

.profile-wrapper .tools .cover-button:hover:before {
  width: 50%;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0 -2px 8px 1px #fff;
}

.tabs > .tab {
  &:hover:before, &.selected:before {
    width: 50%;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 -2px 8px 1px #fff;
  }
}

.profile-wrapper .tools .cover-button {
  &:active:before, &:focus:before {
    width: 66%;
    opacity: 1;
    background-color: var(--nulledPrimary);
    box-shadow: 0 -2px 8px 1px var(--nulledPrimary);
  }
}

.tabs > .tab.selected:before {
  width: 66%;
  opacity: 1;
  background-color: var(--nulledPrimary);
  box-shadow: 0 -2px 8px 1px var(--nulledPrimary);
}

.forum-wrap > .wrap > .container {
  background-color: initial;
  margin: 0;
}

.mycode_quote, .codeblock {
  background: var(--nulledDark);
  padding: 10px;
  border-left: 1px solid var(--nulledPrimary);
}

/* Postbit */

.postbit-container {
  > .wrapper {
    border: 1px solid rgba(200, 200, 200, 0.05);
    box-shadow: initial;

    > .table-wrap {
      .postbit-user {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
      }

      &:nth-child(1) > .postbit-user div[class^='postbit-triangle'] {
        display: none;
      }
    }
  }

  .postbit-username {
    margin-bottom: 16px;
    margin-top: 8px;
  }
}

/* remove shadows */

.wrap, .container {
  box-shadow: none;
}

/* navwrapper */

.forum-wrap > .wrap > .container > .nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  > ul.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    height: 42px;
  }

  .nav li {
    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    margin-right: 50px;
    padding: 0;
    display: flex;
  }

  .options {
    height: 27px;
    margin: 0;
    margin-left: auto;
    margin-right: 6px;
    float: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    > a {
      flex-shrink: 0;
      margin-right: 4px;

      > span {
        background: rgba(255, 255, 255, 0.05) !important;
        transition: all .2s ease;
        transition-property: background;
      }

      &:hover > span {
        background: rgba(255, 255, 255, 0.08) !important;
      }
    }
  }
}

/* container */

.header#header-absolute {
  background: var(--nulledPrimary) !important;
  box-shadow: 0 0 0px 1px var(--nulledBorder);

  &::after {
    opacity: .65;
    background: linear-gradient(to bottom, transparent, var(--nulledDark)) !important;
  }

  height: auto;
  line-height: 1;
  padding-bottom: 42px;

  .wrap {
    display: flex;
    flex-direction: column;
  }

  .logo {
    img {
      display: none;
    }

    align-self: center;
    margin: 16px 0 20px;
    position: relative;

    > {
      .logo-container {
        flex-direction: column;
        text-align: center;

        .logo-sub {
          color: rgba(255, 255, 255, 0.875);
        }

        .logo-title {
          margin-bottom: 6px;
        }
      }

      a {
        display: inline-block;
        position: initial;
        height: 64px;
        width: 64px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-image: url(/assets/img/logo.svg);

          /*     background-image: url(/assets/img/brand/logo_transparent.png); */
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .quicksearch {
    position: static;
    align-self: stretch;
    width: 320px;
    max-width: 100%;
    margin: 0 auto;

    .forms {
      .input {
        background-color: rgba(255, 255, 255, 0.035);
        border: 1px solid rgba(255, 255, 255, 0.025);
        border-radius: 4px;
      }

      .icon-search {
        cursor: pointer;
      }

      &:focus-within .input, &:active .input, &:hover .input {
        background-color: rgba(255, 255, 255, 0.045);
        border: 1px solid rgba(255, 255, 255, 0.035);
      }

      input[name="keywords"] {
        font-style: normal;
        background: transparent !important;
        line-height: 1;
        padding: 0 12px;
        height: 36px;

        &::selection {
          color: #fff;
          background-color: rgba(255, 255, 255, 0.125);
        }
      }
    }
  }
}

.forum-wrap {
  .container {
    margin-top: 0;
  }

  > .wrap > .container > .nav-wrapper {
    li {
      background-color: transparent;

      &:before, &:last-child:after {
        display: none;
      }

      &:not(:last-child):after {
        width: 8px;
        height: 8px;
        top: 50%;
        right: 0;
        bottom: 0;
        border: 0;
        margin: -4px 0 0 20px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.15);
      }
    }

    border: 0;
    box-shadow: none;
  }
}

/* generic colors */

div#latestthreads {
  background: var(--nulledBackground);
}

#latestthreads > .wrapper {
  border-width: 0 !important;
  margin: 0;

  > {
    .forum-head {
      border-width: 0 !important;
      margin: 0;
    }

    .sidebar-tab-wrap {
      display: flex;
      flex-direction: row;
      border: 0 solid transparent !important;
      margin: 0 12px;

      > div[class*="col"] > .sidebar-tab {
        background: var(--nulledBackground) !important;
        border-width: 0 !important;
        position: relative;

        &.active {
          color: var(--nulledPrimary);
        }

        &:before {
          content: '';
          bottom: 0;
          height: 2px;
          width: 33%;
          opacity: 0;
          min-width: 33%;
          max-width: 100%;
          margin: 0 auto;
          left: 0;
          right: 0;
          position: absolute;
          background-color: #fff;
          transition: all .2s ease;
          transition-property: width, opacity, background, box-shadow;
          box-shadow: 0 -2px 8px 1px #fff;
        }

        &:hover:before {
          width: 33%;
          opacity: 1;
          background-color: #fff;
          box-shadow: 0 -2px 8px 1px #fff;
        }

        &.active:before {
          width: 33%;
          opacity: 1;
          background-color: #fff;
          box-shadow: 0 -2px 8px 1px #fff;
          background-color: var(--nulledPrimary);
          box-shadow: 0 -2px 8px 1px var(--nulledPrimary);
        }
      }
    }

    .forum-head {
      background-color: var(--nulledCard) !important;
    }

    .row {
      border-bottom-width: 0;
    }
  }
}

@media (min-width: 1152px) {
  #latestthreads > .wrapper > {
    .forum-head {
      border-width: 1px 1px 0 1px;
      border-color: var(--nulledBorder);
      border-style: solid;
    }

    .sidebar-tab-wrap {
      border-width: 0 1px 1px 1px;
    }
  }
}

.postbit_background_container > .postbit_background.uid4865::before {
  box-shadow: inset 0 -48px 48px -20px var(--nulledCard), inset 0 26px 10px -20px crimson, inset -26px 0 10px -20px crimson, inset 26px 0 10px -20px crimson;
}

.forms {
  .input input, .select select, .textarea textarea {
    background-color: var(--nulledDark) !important;
  }
}

#latestthreads > .wrapper > .row {
  background-color: var(--nulledBackground) !important;

  /*     background-color: rgba(200, 200, 200, .015)!important; */
}

.postbit-container > .wrapper > .table-wrap:nth-child(1) > {
  .postbit-user, .postbit-message {
    background-color: var(--nulledBackground) !important;

    /*     background-color: rgba(200, 200, 200, .015)!important; */
  }
}

.postbit-mobile-container > {
  .postbit-mobile-message, .postbit-mobile-message-author {
    background-color: var(--nulledBackground) !important;

    /*     background-color: rgba(200, 200, 200, .015)!important; */
  }
}

.postbit-container > .wrapper > .table-wrap:nth-child(2), .forum-wrap > .wrap > .container > .nav-wrapper {
  background-color: var(--nulledBackground) !important;

  /*     background-color: rgba(200, 200, 200, .015)!important; */
}

form#quick_reply_form .wrapper {
  background-color: var(--nulledBackground) !important;

  /*     background-color: rgba(200, 200, 200, .015)!important; */

  > .forum-cat {
    background-color: var(--nulledBackground) !important;

    /*     background-color: rgba(200, 200, 200, .015)!important; */

    ~ .row {
      background-color: var(--nulledBackground) !important;

      /*     background-color: rgba(200, 200, 200, .015)!important; */
    }
  }
}

div#forums .forums-header {
  background-color: var(--nulledBackground) !important;

  /*     background-color: rgba(200, 200, 200, .015)!important; */
}

.forumdisplay-major > .wrapper {
  > .forumdisplay_regular > .forumdisplay-row {
    background-color: var(--nulledBackground) !important;

    /*     background-color: rgba(200, 200, 200, .015)!important; */
  }

  &.spacer-top-10 > {
    .forums-row, .forums-header {
      background-color: var(--nulledBackground) !important;

      /*     background-color: rgba(200, 200, 200, .015)!important; */
    }
  }
}

.wrapper > .forum-cat + .table-wrap > .forumdisplay-row, .forumdisplay-row, .search-t-row {
  background-color: var(--nulledBackground) !important;

  /*     background-color: rgba(200, 200, 200, .015)!important; */
}

.forumdisplay-major > .wrapper {
  &.spacer-top-10 {
    border: 0 !important;
  }

  > .forumdisplay_sticky > .forumdisplay-row {
    background-color: transparent !important;
    position: relative;

    &:before {
      background-color: var(--nulledPrimary);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      opacity: .425;
    }
  }
}

.wrapper > .forum-cat {
  position: relative;
  border-bottom: 0;
  background-color: var(--nulledBackground) !important;
  padding-left: 28px;

  &:hover:before {
    opacity: 0.875;
  }

  &:before {
    content: '';
    background-color: var(--nulledPrimary);
    height: 6px;
    width: 6px;
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -3px;
    border-radius: 6px;
    opacity: 0.675;
  }
}

.forumdisplay-major > .wrapper > .forumdisplay_regular {
  > .forumdisplay-row {
    border-width: 0;
  }

  &.row-bottom {
    border-bottom-color: var(--nulledBorder) !important;
  }
}

.profile-wrapper + .table-wrap .wrapper {
  .row, .row-alt {
    background-color: var(--nulledDark) !important;
  }

  .forum-cat-rounded {
    background-color: var(--nulledBackground) !important;
  }

  .row {
    border-bottom-width: 0;
  }
}

form#quick_reply_form .wrapper {
  > .forum-cat {
    border-bottom-width: 0;

    + .row {
      padding: 0;
      margin: 0;
      border-bottom-width: 0;
    }
  }

  #message {
    border: 0;
    margin: 0;
  }
}

.postbit-container {
  > .wrapper > .table-wrap {
    &:nth-child(1) > {
      .postbit-user {
        border: 0;
      }

      .postbit-message {
        border: 0;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
    }

    &:first-of-type {
      display: flex;
      flex-direction: row;
    }

    .postbit-contact, .postbit-options {
      background-color: transparent;
      border: 0;
    }

    &:nth-child(2) {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      align-items: center;
      height: 48px;
      min-height: 48px;

      > {
        .postbit-options {
          padding: 0 16px;
          flex-grow: 1;
        }

        .postbit-contact {
          padding: 0px 16px;

          .postbit-status {
            border-radius: 16px;
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }

  .postbit-button {
    border-radius: 0;
    transition: all .2s ease;
  }
}

/* Spoiler */

.spoiler_wrap {
  margin: 10px;
  background-color: transparent;

  > .spoiler_header {
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    > a {
      flex-grow: 1;
      height: 32px;
      line-height: 32px;
      text-align: left;
      padding: 0 16px;
      transition: all .2s ease;
      transition-property: color, background;
    }

    &:hover > a {
      background-color: rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }
}

div#forums {
  > div[id^="cat"] {
    > .wrapper {
      border-width: 0;
      border-radius: 4px;
      overflow: hidden;
    }

    .forums-row {
      border-width: 0;
      background-color: #202022 !important;

      .forums-col1 > .title {
        font-weight: 600;
        letter-spacing: .085em;
      }
    }

    .forums-subforums {
      background-color: #1a1a1b !important;
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-bottom: 6px;

      .subforums {
        margin-left: 0;
      }

      > .clearfix {
        display: flex;
        flex-direction: column;
      }

      .col {
        display: flex;
        flex-direction: row;
        align-items: center;
        float: none !important;
        margin: 0;
        max-height: initial;
        height: auto;
        padding: 0 16px;
        transition: all .125s ease-out;
        transition-property: color, background-color;
        color: rgba(255, 255, 255, 0.65);

        .subforumicon + a {
          transition: all .125s ease-out;
          transition-property: color, background-color;
          color: rgba(255, 255, 255, 0.65);
        }

        &:hover {
          color: rgba(255, 255, 255, 0.85) !important;

          .subforumicon + a {
            color: rgba(255, 255, 255, 0.85) !important;
          }

          background-color: rgba(0, 0, 0, 0.1);
        }

        .subforumicon {
          height: 24px;
          display: flex;
          align-items: center;
          margin-left: 0;

          + a {
            height: 24px;
            line-height: 1;
            flex-grow: 1;
            display: flex;
            align-items: center;
            margin-left: -24px;
            padding-left: 24px;
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }

        &:not(:last-child) {}
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(200, 200, 200, 0.15);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  > div[id^="cat"] {
    box-shadow: 0 1.8px 2.6px rgba(0, 0, 0, 0.1), 0 6px 8.7px rgba(0, 0, 0, 0.06), 0 27px 39px rgba(0, 0, 0, 0.04);
  }
}

/* showthread-container */

.showthread-info-m {
  margin: 0 10px;
  text-align: center;
}

.showthread-container {
  background-color: transparent !important;
  box-shadow: initial;
  padding: 0;
  margin: 16px 0 8px;
}

.forumdisplay-major > .showthread-container {
  > .table-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .showthread-reply-pos {
    margin-left: auto;
  }
}

.showthread-container {
  .showthread-avatar {
    display: none;
  }

  .showthread-reply {
    > a > button.thread-button {
      background-color: rgba(200, 200, 200, 0.035) !important;
      border: 1px solid rgba(200, 200, 200, 0.035) !important;
      transition: all .2s ease;
      transition-property: color, background-color, border-color;
      height: 32px;
      line-height: 1;
      padding: 0 16px;
    }

    &:hover > a > button.thread-button {
      background-color: rgba(200, 200, 200, 0.05) !important;
      border: 1px solid rgba(200, 200, 200, 0.05) !important;
    }
  }
}

#header-bar {
  background: transparent;

  .topmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    line-height: 1;

    > ul:not(:first-child):last-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
    }
  }
}

.topmenu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    border-right: 0;
    transition: all .3s ease;
    transition-property: background;
    position: relative;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    color: rgba(255, 255, 255, 0.85);

    i {
      margin: 0 6px 0 0;
    }
  }
}

.wrap {
  width: 1200px;
  max-width: calc(100% - 32px);
  margin: 0 auto;
}

.topmenu li {
  &:before {
    content: '';
    top: 0;
    height: 2px;
    width: 33%;
    opacity: 0;
    min-width: 33%;
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #fff;
    transition: all .2s ease;
    transition-property: width, opacity, background, box-shadow;
    box-shadow: 0 -2px 8px 1px #fff;
  }

  &:hover {
    &:before {
      width: 66%;
      opacity: 1;
      background-color: var(--nulledPrimary);
      box-shadow: 0 -2px 8px 1px var(--nulledPrimary);
    }

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) -250%, rgba(255, 255, 255, 0)) !important;
    color: rgba(255, 255, 255, 0.95);
  }
}

.rippleJS {
  display: none;
}

.post-pagination-container ul.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0;

  > li > a {
    border: 0;
    margin: 0 4px;
    padding: 0;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .125s ease;
    transition-property: color, background-color, border-color;

    > span {
      height: inherit;
      width: inherit;
      line-height: inherit;
      display: flex;
      flex-direction: inherit;
      align-items: inherit;
    }
  }
}

.sidebar- > .spacer-left-5 > .wrapper:first-child, .forum-head#green, .sidebar- > .spacer-left-5 > .wrapper:first-child .credits-weekly {
  background-color: var(--nulledBackground) !important;
  border-width: 0 !important;
}

.comments + .row > .table-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-comments-textarea {
  flex-grow: 1;
}

.profile-comments-button-col {
  width: initial;
}

.profile-comments-button, .button, button, input.button {
  white-space: nowrap;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: var(--nulledCard);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: .125em;
  color: rgba(255, 255, 255, 0.65) !important;
  text-decoration: none;
  transition: all .15s ease;
  transition-property: color, background-color, transform, box-shadow;
}

.button:hover, button:hover, input.button:hover {
  background-color: var(--nulledSecondary) !important;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.topmenu {
  .menu-dropdown-content, .drop {
    margin-top: 0px !important;
    top: 42px;
    transition-duration: 0s !important;
    border: 0;
  }
}

.menu-dropdown-content {
  background-color: var(--nulledBackground);
}

.topmenu .drop {
  background-color: var(--nulledBackground);

  .drop-row {
    background-color: var(--nulledBackground);

    &:not(:first-child) {
      border: 0;
      background-color: var(--nulledDark);
    }
  }
}

.menu-dropdown-content a {
  background-color: var(--nulledBackground);
  border-width: 0;

  &:hover {
    background-color: var(--nulledBackground);
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.015);
  }
}

.topmenu {
  .menu-dropdown-content {
    &:before, &:after {
      display: none;
    }
  }

  .drop {
    &:before, &:after {
      display: none;
    }
  }
}

.forumdisplay_banner {
  border-radius: 6px;
}

.notification {
  position: relative;
  background-color: var(--nulledBackground) !important;
  padding-left: 38px;

  &:before {
    content: '';
    box-shadow: inset 0 0 0px 1px var(--nulledPrimary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    opacity: .425;
  }

  &#red, &#green, &#orange {
    background-color: var(--nulledBackground) !important;
  }

  &#red:before {
    box-shadow: inset 0 0 0px 1px var(--nulledDanger);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(https://nulledbb.com/assets/img/ficons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-top: -12px;
    margin-left: 4px;
    width: 24px;
    height: 24px;
    background-position: -105px -1px;
  }

  &#orange:before {
    box-shadow: inset 0 0 0px 1px var(--nulledWarning);
  }
}