@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}
:root {
  --bg-quaternary: #19191f;
  --bg-tertiary: #14141a;
  --bg-secondary: #14141a;
}
body {
  background-color: #0a0a0a;
}
body.forumdisplay::after,
body.showthread::after {
  background: linear-gradient(to bottom, transparent 75%, #0a0a0a 100%);
}
.dropdown-menu[aria-labelledby="headerDropdownUser"]
  .dropdown-item:first-of-type {
  height: initial;
  padding: 0.75rem 1.25rem !important;
  line-height: initial;
  margin-top: 6px;
}
.dropdown-menu .dropdown-item:first-of-type {
  margin-top: 6px;
}
.dropdown-menu .dropdown-divider {
  margin-bottom: 8px !important;
}
.dropdown-menu .dropdown-item {
  transition: all 100ms ease;
  transition-property: background-color, color;
  padding: 0 0.75rem !important;
  height: 32px;
  line-height: 32px;
  margin: 0 8px;
  width: initial;
  border-radius: 8px !important;
}
.dropdown-menu .dropdown-item {
  margin-bottom: 6px;
  &:hover {
    background-color: rgba(155, 155, 255, 0.08) !important;
  }
}

.dropdown-menu-community ul li a {
  transition: all 100ms ease;
  transition-property: opacity;
  border-width: 0 !important;
  position: relative;
  z-index: 1;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}
.header-nav > ul > li.dropdown.show .dropdown-menu {
  margin-top: -32px;
}
.header-nav > ul > li > a {
  position: relative;
  backface-visibility: hidden;
  text-decoration: none;
  &,
  &:before,
  &:after {
    transform-origin: center;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 2px;
    border-radius: 2px;
    width: 70%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.425);
  }
  &:after {
    width: 10%;
    background-color: rgba(255, 255, 255, 0);
  }
  &:hover {
    background-color: transparent !important;
    &:after {
      width: 70%;
      background-color: var(--bg-primary);
      filter: brightness(2.5);
    }
  }
}
.inbox-container {
  background-color: var(--bg-tertiary) !important;
}
.header-nav > ul > li:not(:last-of-type) {
  margin-right: 8px;
}
.global-header .header-primary {
  position: relative;
  z-index: 99;
}
.global-header .header-primary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-tertiary);
  z-index: -1;
}
